// FONT SIZE
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;

// COLOR
$primary-color: white;
$secondary-color: azure;
$backdrop-color: rgba(0, 0, 0, 0.121);
$taskCard-color: rgba(255, 255, 255, 0.634);
$text-color: black;
$border-color: #d1d5db;

// PADDING / MARGIN / GAP
$spacing-xs: 5px;
$spacing-sm: 8px; // 0.5rem
$spacing-md: 10px;
$spacing-lg: 16px; // 1rem
$spacing-xl: 20px;
$spacing-xxl: 32px; // 2rem

// BORDER RADIUS
$border-radius-md: 10px;
$border-radius-lg: 20px;
