@use "./MediaQueries" as *;
@use "./Variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/cloud_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $backdrop-color;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: $text-color;
}

.App {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100svh;
  max-height: 100svh;

  @include mobile {
    justify-content: flex-start;
  }
  @include tablet {
    justify-content: flex-start;
  }
  @include desktop {
  }
}

/* ========= BUTTONS ========= */

button {
  padding: $spacing-lg;
  width: 90%;
  border-radius: $border-radius-md;
  background-color: $taskCard-color;
  cursor: pointer;
  border: none;
  margin: 0 auto 0 auto;
  border: 1px solid $border-color;
  color: $text-color;
  // Media query för mobil
  @media (max-width: 900px) {
    padding: $spacing-lg;
  }
}

.addTaskButton {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeDetailViewBtn {
  width: auto;
  padding: $spacing-sm $spacing-lg;
  margin-top: $spacing-lg;
}

.closeArchiveBtn {
  margin-top: auto;
  margin-bottom: $spacing-md;
  width: 50%;

  // Media query för mobil
  @media (max-width: 900px) {
    width: 90%;
  }
}

// Logik inte skapad för denna knapp ännu
.resetBtn {
  margin-top: $spacing-lg;
  background-color: $primary-color;
  padding: $spacing-sm;
}

button:hover {
  background-color: azure;
  cursor: pointer;
}

/* ========= INPUT ========= */

input,
textarea {
  width: 90%;
  padding: $spacing-md;
  background-color: $primary-color;
  border: none;
  outline: none;
  border-radius: $border-radius-md;
  font-family: inherit;
  font-size: $font-size-md;
  border: 1px solid $border-color;
  color: $text-color;
}

textarea {
  height: 50%;
  margin-bottom: $spacing-md;
  resize: none;
}

.drop-placeholder {
  min-height: 20px;
}

/* ========= ICONS   ========= */
.editIcon,
.saveIcon,
.plusIcon,
.deleteIcon,
.archiveIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: $text-color;
}

.plusIcon {
  margin-right: $spacing-md;
}

.appArchiveIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;

  .archiveIcon {
    width: 50%;
    height: 50%;
  }
}

select {
  color: $text-color;
}
