@use "./Variables" as *;

/*========= TASK  ========= */

.taskArea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  overflow-x: hidden;

  .taskCard {
    background-color: $taskCard-color;
    width: 95%;
    height: auto;
    padding: $spacing-lg;
    border-radius: $border-radius-md;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;

    .taskTitle {
      margin-bottom: $spacing-xl;
    }
  }

  .taskCard:hover {
    background-color: $secondary-color;
  }
}
